$headerHeight = 1.3rem
$footerHeight = 1rem

// 背景
$color-background = rgba(7, 17, 27, 1)
$color-background-s = rgba(7, 17, 27, 0.8)
$color-background-ss = rgba(7, 17, 27, 0.5)
$color-background-sss = rgba(7, 17, 27, 0.2)
$color-background-ssss = #f3f5f7

$color-gray = #7a7979  // 主菜单-灰
$color-gray-s = #a3a3a3 // 子菜单-灰
$color-white = #ffffff // 白
$color-blue = #00797f // 主体-蓝
$color-yellow = #c4a76e // 主体-黄
$color-title = #595757 // 标题-灰
$color-context = #8c8c8c // 正文-灰

$border-color = #3f9a9f // 底部菜单-边框
$color-background-gray = #efefef