 @import '../varibles.styl'

.pagination {
    display flex 
    justify-content center
    margin-bottom 1.5rem
    li {
        color #8c8c8c
        font-size .24rem
        text-align center
        border 1px solid #c5c5c5
        height .56rem
        line-height .56rem
        padding-left .14rem
        padding-right .14rem
        margin-right .3rem
    }
    li:last-of-type {
        margin-right 0
    }
}