 @import '../varibles.styl'

.headerWrap {
    position fixed
    top 0
    left 0
    right 0
    display flex
    justify-content space-between
    align-items center
    height $headerHeight
    padding-left .37rem
    padding-right .45rem
    background $color-white
    h1 {
        background url('../../img/header/logo.svg') no-repeat center
        width 2.52rem
        height .65rem
    }
    .menu {
        background url('../../img/header/menu.svg') no-repeat center
        display block
        width .51rem
        height .4rem
    }
}