 @import '../varibles.styl'

.wrapper {
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    backdrop-filter: blur(10px)
    opacity: 1
    color: $color-gray
    background: $color-background-sss
    &.fade-enter-active, &.fade-leave-active{
         transition: all 0.5s
    }
    &.fade-enter, &.fade-leave-active {
        opacity: 0
        background: $color-background
    }
    .menuWrapper {
      display inline-block
      background $color-white
      width 3.05rem
      min-height 100%
      position fixed
      right 0
      padding-top .45rem
      padding-right .45rem
      text-align right
      .clearfix {
          margin-bottom .65rem
          .close {
            display block
            float:right
            background url('../../img/header/close.svg') no-repeat center 
            width .4rem
            height .4rem
         }
      }
      .menuList {
          li {
              margin-bottom .65rem
              dt {
                  color $color-gray
                  font-size .24rem
                  margin-bottom .65rem
                  a {
                      color: $color-gray
                  }
              }
              dd {
                  color $color-gray-s
                  margin-bottom .65rem
                  a {
                      color: $color-gray
                  }
              }
          }
      }
    }
}