 @import '../varibles.styl'

.footerWrap{
    position fixed 
    bottom 0
    left 0
    right 0
    height $footerHeight
    background-color $color-blue
    color $color-white
    display flex
    justify-content space-around
    align-items center 
    li {
        width 25%
        height 100%
        line-height 1rem
        text-align center
        border-right 1px solid $border-color
    }
    li:nth-child(4){
        border-right none
    }
}